<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tju.goliath.dao.GradeMapper" >
  <resultMap id="BaseResultMap" type="edu.tju.goliath.entity.Grade" >
    <id column="gradeid" property="gradeid" jdbcType="INTEGER" />
    <result column="gradename" property="gradename" jdbcType="VARCHAR" />
    <result column="graderank" property="graderank" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="gradestuid" property="gradestuid" jdbcType="INTEGER" />
    <result column="grademodel" property="grademodel" jdbcType="VARCHAR" />
    <result column="gradedate" property="gradedate" jdbcType="TIMESTAMP" />
    <result column="gradetime" property="gradetime" jdbcType="VARCHAR" />
    <result column="gradeexps" property="gradeexps" jdbcType="VARCHAR" />
    <result column="graderightnum" property="graderightnum" jdbcType="INTEGER" />
    <result column="gradeerrornum" property="gradeerrornum" jdbcType="INTEGER" />
    <result column="graderate" property="graderate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    gradeid, gradename, graderank, grade, gradestuid, grademodel, gradedate, gradetime, 
    gradeexps, graderightnum, gradeerrornum, graderate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_grade
    where gradeid = #{gradeid,jdbcType=INTEGER}
  </select>
  <select id="getGradeByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_grade
    where gradename = #{gradename,jdbcType=VARCHAR}
  </select>
   <select id="getGradesByStuid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select 
  <include refid="Base_Column_List" />
  from t_grade
  where gradestuid = #{gradestuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_grade
    where gradeid = #{gradeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.tju.goliath.entity.Grade" >
    insert into t_grade (gradeid, gradename, graderank, 
      grade, gradestuid, grademodel, 
      gradedate, gradetime, gradeexps, 
      graderightnum, gradeerrornum, graderate
      )
    values (#{gradeid,jdbcType=INTEGER}, #{gradename,jdbcType=VARCHAR}, #{graderank,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{gradestuid,jdbcType=INTEGER}, #{grademodel,jdbcType=VARCHAR}, 
      #{gradedate,jdbcType=TIMESTAMP}, #{gradetime,jdbcType=VARCHAR}, #{gradeexps,jdbcType=VARCHAR}, 
      #{graderightnum,jdbcType=INTEGER}, #{gradeerrornum,jdbcType=INTEGER}, #{graderate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.tju.goliath.entity.Grade" >
    insert into t_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gradeid != null" >
        gradeid,
      </if>
      <if test="gradename != null" >
        gradename,
      </if>
      <if test="graderank != null" >
        graderank,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="gradestuid != null" >
        gradestuid,
      </if>
      <if test="grademodel != null" >
        grademodel,
      </if>
      <if test="gradedate != null" >
        gradedate,
      </if>
      <if test="gradetime != null" >
        gradetime,
      </if>
      <if test="gradeexps != null" >
        gradeexps,
      </if>
      <if test="graderightnum != null" >
        graderightnum,
      </if>
      <if test="gradeerrornum != null" >
        gradeerrornum,
      </if>
      <if test="graderate != null" >
        graderate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gradeid != null" >
        #{gradeid,jdbcType=INTEGER},
      </if>
      <if test="gradename != null" >
        #{gradename,jdbcType=VARCHAR},
      </if>
      <if test="graderank != null" >
        #{graderank,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="gradestuid != null" >
        #{gradestuid,jdbcType=INTEGER},
      </if>
      <if test="grademodel != null" >
        #{grademodel,jdbcType=VARCHAR},
      </if>
      <if test="gradedate != null" >
        #{gradedate,jdbcType=TIMESTAMP},
      </if>
      <if test="gradetime != null" >
        #{gradetime,jdbcType=VARCHAR},
      </if>
      <if test="gradeexps != null" >
        #{gradeexps,jdbcType=VARCHAR},
      </if>
      <if test="graderightnum != null" >
        #{graderightnum,jdbcType=INTEGER},
      </if>
      <if test="gradeerrornum != null" >
        #{gradeerrornum,jdbcType=INTEGER},
      </if>
      <if test="graderate != null" >
        #{graderate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.tju.goliath.entity.Grade" >
    update t_grade
    <set >
      <if test="gradename != null" >
        gradename = #{gradename,jdbcType=VARCHAR},
      </if>
      <if test="graderank != null" >
        graderank = #{graderank,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="gradestuid != null" >
        gradestuid = #{gradestuid,jdbcType=INTEGER},
      </if>
      <if test="grademodel != null" >
        grademodel = #{grademodel,jdbcType=VARCHAR},
      </if>
      <if test="gradedate != null" >
        gradedate = #{gradedate,jdbcType=TIMESTAMP},
      </if>
      <if test="gradetime != null" >
        gradetime = #{gradetime,jdbcType=VARCHAR},
      </if>
      <if test="gradeexps != null" >
        gradeexps = #{gradeexps,jdbcType=VARCHAR},
      </if>
      <if test="graderightnum != null" >
        graderightnum = #{graderightnum,jdbcType=INTEGER},
      </if>
      <if test="gradeerrornum != null" >
        gradeerrornum = #{gradeerrornum,jdbcType=INTEGER},
      </if>
      <if test="graderate != null" >
        graderate = #{graderate,jdbcType=VARCHAR},
      </if>
    </set>
    where gradeid = #{gradeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.tju.goliath.entity.Grade" >
    update t_grade
    set gradename = #{gradename,jdbcType=VARCHAR},
      graderank = #{graderank,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      gradestuid = #{gradestuid,jdbcType=INTEGER},
      grademodel = #{grademodel,jdbcType=VARCHAR},
      gradedate = #{gradedate,jdbcType=TIMESTAMP},
      gradetime = #{gradetime,jdbcType=VARCHAR},
      gradeexps = #{gradeexps,jdbcType=VARCHAR},
      graderightnum = #{graderightnum,jdbcType=INTEGER},
      gradeerrornum = #{gradeerrornum,jdbcType=INTEGER},
      graderate = #{graderate,jdbcType=VARCHAR}
    where gradeid = #{gradeid,jdbcType=INTEGER}
  </update>
</mapper>