<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tju.goliath.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="edu.tju.goliath.entity.Student" >
    <id column="stuid" property="stuid" jdbcType="INTEGER" />
    <result column="stuname" property="stuname" jdbcType="VARCHAR" />
    <result column="stunick" property="stunick" jdbcType="VARCHAR" />
    <result column="stuemail" property="stuemail" jdbcType="VARCHAR" />
    <result column="stupwd" property="stupwd" jdbcType="VARCHAR" />
    <result column="stuparentid" property="stuparentid" jdbcType="INTEGER" />
    <result column="stuteacherid" property="stuteacherid" jdbcType="INTEGER" />
    <result column="stuyear" property="stuyear" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    stuid, stuname, stunick, stuemail, stupwd, stuparentid, stuteacherid, stuyear
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where stuid = #{stuid,jdbcType=INTEGER}
  </select>
  <select id="selectByStuName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where stuname = #{stuname,jdbcType=VARCHAR}
  </select>
    <select id="selectByStuEmail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where stuemail = #{stuemail,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_student
    where stuid = #{stuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.tju.goliath.entity.Student" >
    insert into t_student (stuid, stuname, stunick, 
      stuemail, stupwd, stuparentid, 
      stuteacherid, stuyear)
    values (#{stuid,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stunick,jdbcType=VARCHAR}, 
      #{stuemail,jdbcType=VARCHAR}, #{stupwd,jdbcType=VARCHAR}, #{stuparentid,jdbcType=INTEGER}, 
      #{stuteacherid,jdbcType=INTEGER}, #{stuyear,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.tju.goliath.entity.Student" >
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuid != null" >
        stuid,
      </if>
      <if test="stuname != null" >
        stuname,
      </if>
      <if test="stunick != null" >
        stunick,
      </if>
      <if test="stuemail != null" >
        stuemail,
      </if>
      <if test="stupwd != null" >
        stupwd,
      </if>
      <if test="stuparentid != null" >
        stuparentid,
      </if>
      <if test="stuteacherid != null" >
        stuteacherid,
      </if>
      <if test="stuyear != null" >
        stuyear,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stuid != null" >
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="stuname != null" >
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stunick != null" >
        #{stunick,jdbcType=VARCHAR},
      </if>
      <if test="stuemail != null" >
        #{stuemail,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null" >
        #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stuparentid != null" >
        #{stuparentid,jdbcType=INTEGER},
      </if>
      <if test="stuteacherid != null" >
        #{stuteacherid,jdbcType=INTEGER},
      </if>
      <if test="stuyear != null" >
        #{stuyear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.tju.goliath.entity.Student" >
    update t_student
    <set >
      <if test="stuname != null" >
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stunick != null" >
        stunick = #{stunick,jdbcType=VARCHAR},
      </if>
      <if test="stuemail != null" >
        stuemail = #{stuemail,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null" >
        stupwd = #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stuparentid != null" >
        stuparentid = #{stuparentid,jdbcType=INTEGER},
      </if>
      <if test="stuteacherid != null" >
        stuteacherid = #{stuteacherid,jdbcType=INTEGER},
      </if>
      <if test="stuyear != null" >
        stuyear = #{stuyear,jdbcType=VARCHAR},
      </if>
    </set>
    where stuid = #{stuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.tju.goliath.entity.Student" >
    update t_student
    set stuname = #{stuname,jdbcType=VARCHAR},
      stunick = #{stunick,jdbcType=VARCHAR},
      stuemail = #{stuemail,jdbcType=VARCHAR},
      stupwd = #{stupwd,jdbcType=VARCHAR},
      stuparentid = #{stuparentid,jdbcType=INTEGER},
      stuteacherid = #{stuteacherid,jdbcType=INTEGER},
      stuyear = #{stuyear,jdbcType=VARCHAR}
    where stuid = #{stuid,jdbcType=INTEGER}
  </update>
</mapper>