<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form class="form-horizontal" role="form" method="post" id="login_form"
		action="../userController/login.do">
		<div class="form-group">
			<label for="inputEmail"
				class="col-sm-2 control-label col-sm-offset-2">用户名</label>
			<div class="col-md-8">
				<input type="text" name="username" class="form-control"
					id="inputEmail" placeholder="请输入邮箱" value="" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword"
				class="col-sm-2 control-label col-sm-offset-2">登录密码</label>
			<div class="col-md-8">
				<input type="password" name="userpwd" class="form-control"
					id="inputPassword" autocomplete="off" placeholder="请输入密码" value="" />
				<span style="color: #3d78d8; line-height: 2.5; margin-left: 5px;">
					<a href="getpwd.action" target="_blank">忘记密码?</a>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label for="inputVerifyCode"
				class="col-sm-2 control-label col-sm-offset-2">验证码</label>
			<div class="col-md-8">
				<input type="text" name="imgcode" autocomplete="off"
					class="form-control" style="float: none" id="inputVerifyCode"
					placeholder="5位数字、字母组合" value="" maxlength="5">
				<div style="margin-top: 10px">
					<img
						style="cursor: pointer; margin-right: 10px; width: 250px; height: 90px;"
						onclick="changeVerifyCode(this)" ;return false;" id="randomImg"
						border=1 src="../imgcodeController/kaptcha-image.do" /> <a
						href="javascript:;"
						style="float: right; margin-top: -20px; margin-right: 380px;"
						onclick="refreshImage();return false;">看不清？换一张</a>
				</div>
			</div>
		</div>
		<div class="form-group text-center">
			<div>
				<button type="submit" class="btn btn-default">登录</button>
			</div>
		</div>
	</form>
</body>
</html>